//paleta de colores//

$color-principal:gray;
$color-titulos:#19191b;
$color-secundario:#6A9C89;
$color-terciario:#16423C;
$color-familia:#21201e;
$bg-footer: rgb(56, 1, 1);
$color-footer: rgb(199, 166, 166);
